.cart-place-order-container {
  display: flex;
  justify-content: center;
}

.cart-list-container {
  padding-left: 0;
  width: 80%;
  background-color: #f9fbfe;
  margin-top: 48px;

  padding-left: 0;
}

.table-header-cell {
  width: 33%;
  text-align: center;

  font-family: DM Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #475569;
}

.payment-successfulView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-item-header {
  display: flex;
  justify-content: space-between;
}
